<!DOCTYPE html>
<html>
<head>
    <title>Edit Message</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<form method="POST" action="/update">
    <h1 class="title">Edit Message</h1>
    <fieldset>
        <label class="edit-titles">ID:</label><input type="text" name="id" value=<%= result.rows[0].id %> >
    </fieldset>
    <fieldset>
        <label class="edit-titles">Title:</label><input type="text" name="title" value='<%= result.rows[0].title %>'>
    </fieldset>
        <fieldset>

        <label class="edit-titles">Message:</label><input type="text" name="body" value='<%= result.rows[0].body %>'>
    </fieldset>
    <fieldset>
        <button class="btn-add">Update</button>
    </fieldset>
</form>
</body>
</html>